librosa==0.9.1
local-attention==1.4.3
mcts==1.0.4
Montreal-Forced-Aligner==2.0.0rc7
numba==0.48.0
numpy==1.20.2
pandas==1.4.1
Pillow==9.0.1
praatio==5.1.1
pretty-midi==0.2.9
psutil==5.9.0
scikit-learn==1.0.2
scipy==1.6.2
SoundFile==0.10.3.post1
tensorboard==2.8.0
torch==1.12.0+cu113
torchaudio==0.11.0+cu113
torchvision==0.12.0+cu113
tqdm==4.62.3
